<section class="users-section">
  <p>
    <h3> Welcome: <%= current_user.name %>
    <span class="profile-link">
      <%= link_to 'See Profile',  user_path(current_user), class: 'profile-link' %>
    </span>
    </h3>
  </p>
</section>

<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          </span>
            <span class="profile-link">
              | <%= link_to 'Add Friend', friendships_path(friend_id: user.id), method: :post, class: 'profile-link'%>
            </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<section class="users-section">
  <h2>Your Friends</h2>
  <ul class="users-list">
    <% current_user.friendships.each do |friendship| %>
    <li>
      Name: <%= friendship.friend.name %>
      <span class="profile-link">
        (<%= link_to "remove", friendship, :method => :delete, class: 'profile-link' %>)
      </span>
    </li>
    <% end %>
  </ul>
</section>

<section class="users-section">
  <h2>Users Who Have Befriended You</h2>
  <ul class="users-list">
    <% current_user.inverse_friends.each do |user| %>
    <li>
      Name: <%= user.name %>
    </li>
    <% end %>
  </ul>
</section>

<section class="users-section">
  <h2>Friend_requests</h2>
  <ul class="users-list">
    <% @requests.each do |request| %>
    <li>
      Name: <%= request.user.name %>
      <span class="profile-link">
        <%= link_to 'Confirme', request, method: :put, class: 'profile-link'%>
        (<%= link_to "rejected", request, :method => :delete, class: 'profile-link' %>)
      </span>
    </li>
    <% end %>
  </ul>
</section>
