<section class="users-section">
  <p>
    <h3> Welcome: <%= current_user.name %>
    <span class="profile-link">
      <%= link_to 'See Profile',  user_path(current_user), class: 'profile-link' %>
    </span>
    </h3>
  </p>
</section>

<section class="users-section">
  <h3>Liste of User</h3>
  <ul class="users-list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          </span>
          <button type="button" class="btn btn-primary">
              <%= link_to 'Add Friend', friendships_path(friend_id: user.id), method: :post, class: 'profile-link'%>
          </button>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<section class="users-section">
  <h2>Your Friends</h2>
  <ul class="users-list">
    <% @friends_confirmed.each do |friendship| %>
        <li>
          Name: <%= friendship.user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(friendship.user), class: 'profile-link' %>
          </span>
        </li>
    <% end %>
    <% @friends_inverse_confirmed.each do |friendship| %>
        <li>
          Name: <%= friendship.friend.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(friendship.friend), class: 'profile-link' %>
          </span>
        </li>
    <% end %>
  </ul>
</section>

<section class="users-section">
  <h2>Friend_requests sent by me (Waiting for confirmation)</h2>
  <ul class="users-list">
    <% @invitations.each do |user| %>
    <li>
      Name: <%= user.name %>
    </li>
    <% end %>
  </ul>
</section>

<section class="users-section">
  <h2>Friend_requests sent to me (Waiting for confirmation)</h2>
  <ul class="users-list">
    <% @requests.each do |request| %>
    <li>
      Name: <%= request.user.name %>
      <span class="profile-link">
        <%= link_to 'Confirme', request, method: :put, class: 'profile-link'%>
        (<%= link_to "rejected", request, :method => :delete, class: 'profile-link' %>)
      </span>
    </li>
    <% end %>
  </ul>
</section>
