<section class="users-section">
  <p>
    <h3> Welcome: <%= current_user.name %>
    <span class="profile-link">
      <%= link_to 'See Profile',  user_path(current_user), class: 'profile-link' %>
    </span>
    </h3>
  </p>
</section>

<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          </span>
            <span class="profile-link">
              | <%= link_to 'Add Friend', friendships_path(friend_id: user.id), method: :post, class: 'profile-link'%>
            </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
